 <!-- MY ACCOUNT -->
 <div class="account-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <!-- HTML -->
                <div id="account-id">
                    <h4 class="account-title"><span class="fa fa-chevron-right"></span>Create your account</h4>                                                                  
                    <div class="account-form">
                        <form id="shipping-zip-form" [formGroup]="registerForm">                                           
                            <ul class="form-list row">
                                <li class="col-md-6 col-sm-6">
                                    <label >First Name <em>*</em></label>
                                    <input required type="text" class="input-text" formControlName="firstname">
                                </li>
                                <li class="col-md-6 col-sm-6">
                                    <label >Last Name <em>*</em></label>
                                    <input required type="text" class="input-text" formControlName="lastname">
                                </li>
                                <li class="col-md-6 col-sm-6">
                                    <label >Gender <em>*</em></label>
                                    <input required type="text" class="input-text" formControlName="gender">
                                </li>                                                
                                <li class="col-md-6 col-sm-6">
                                    <label >Phone Number <em>*</em></label>
                                    <input required type="text" class="input-text" formControlName="phoneNumber">
                                </li>
                                <li class="col-md-6 col-sm-6">
                                    <label>Email</label>
                                    <input required type="text" class="input-text" formControlName="email">
                                </li>
                                <li class="col-md-6 col-sm-6">
                                    <label>Username</label>
                                    <input required type="text" class="input-text" formControlName="username">
                                </li>
                                <li class="col-md-6 col-sm-6">
                                    <label>Password</label>
                                    <input required type="password" class="input-text" formControlName="password">
                                </li>
                            </ul>
                            <div class="buttons-set">
                                <button class="btn-black" type="submit" (click) ="onSubmit()"><span>Register</span></button>
                            </div>
                        </form>
                    </div>                                
                </div>
            </div>

            <div class="col-md-3 col-sm-4 checkout-steps">
                <h6>Account</h6>
                <div>
                    <ul class="account-list">
                        <li class="active"><a href="account-information.html"> <i class="fa fa-edit"></i> Account Information </a></li>
                        <li><a href="my-account.html"> <i class="fa fa-edit"></i> My Account</a></li>                                        
                        <li><a href="cng-pw.html"> <i class="fa fa-edit"></i> Change Password</a></li>
                        <li><a href="address-book.html"> <i class="fa fa-edit"></i> Address Books</a></li>
                        <li><a href="order-history.html"> <i class="fa fa-edit"></i> Order History</a></li>
                        <li><a href="review-rating.html"> <i class="fa fa-edit"></i> Reviews and Ratings</a></li>
                        <li><a href="return.html"> <i class="fa fa-edit"></i> Returns Requests</a></li>
                        <li><a href="newsletter.html"> <i class="fa fa-edit"></i> Newsletter</a></li>
                        <li><a href="myaccount-leftsidebar.html"> <i class="fa fa-edit"></i> Left Sidebar</a></li>
                    </ul>                                
                </div>
            </div>
        </div>
    </div>
</div>