<!-- NEW ARRIVALS -->
<div class="product-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h5 class="heading2 space40"><span>New Arrivals</span></h5>
                <div class="product-carousel">
                    <div class="pc-wrap">
                        <div class="product-item">
                            <div class="item-thumb">
                                <img src="assets/images/products/fashion/4.jpg" class="img-responsive" alt=""/>
                                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal" data-target="#myModal"></div>
                                <div class="product-overlay">
                                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                                    <a href="#" class="compare fa fa-signal"></a>
                                    <a href="#" class="likeitem fa fa-heart-o"></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="product-title"><a href="./single-product.html">Product fashion</a></h4>
                                <span class="product-price">$99.00 <em>- Pre order</em></span>
                                <div class="item-colors">
                                    <a href="#" class="litebrown"></a>
                                    <a href="#" class="darkgrey"></a>
                                    <a href="#" class="red"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-wrap">
                        <div class="product-item">
                            <div class="item-thumb">
                                <img src="assets/images/products/fashion/11.jpg" class="img-responsive" alt=""/>
                                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal" data-target="#myModal"></div>
                                <div class="product-overlay">
                                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                                    <a href="#" class="compare fa fa-signal"></a>
                                    <a href="#" class="likeitem fa fa-heart-o"></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="product-title"><a href="./single-product.html">Product fashion</a></h4>
                                <span class="product-price">$99.00 <em>- Pre order</em></span>
                                <div class="item-colors">
                                    <a href="#" class="black"></a>
                                    <a href="#" class="darkgrey"></a>
                                    <a href="#" class="litebrown"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-wrap">
                        <div class="product-item">
                            <div class="item-thumb">
                                <img src="assets/images/products/fashion/5.jpg" class="img-responsive" alt=""/>
                                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal" data-target="#myModal"></div>
                                <div class="product-overlay">
                                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                                    <a href="#" class="compare fa fa-signal"></a>
                                    <a href="#" class="likeitem fa fa-heart-o"></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="product-title"><a href="./single-product.html">Product fashion</a></h4>
                                <span class="product-price">$99.00 <em>- Pre order</em></span>
                                <div class="item-colors">
                                    <a href="#" class="black"></a>
                                    <a href="#" class="cream"></a>
                                    <a href="#" class="litebrown"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-wrap">
                        <div class="product-item">
                            <div class="item-thumb">
                                <img src="assets/images/products/fashion/12.jpg" class="img-responsive" alt=""/>
                                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal" data-target="#myModal"></div>
                                <div class="product-overlay">
                                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                                    <a href="#" class="compare fa fa-signal"></a>
                                    <a href="#" class="likeitem fa fa-heart-o"></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="product-title"><a href="./single-product.html">Product fashion</a></h4>
                                <span class="product-price">$99.00 <em>- Pre order</em></span>
                                <div class="item-colors">
                                    <a href="#" class="litebrown"></a>
                                    <a href="#" class="red"></a>
                                    <a href="#" class="litebrown"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-wrap">
                        <div class="product-item">
                            <div class="item-thumb">
                                <img src="assets/images/products/fashion/6.jpg" class="img-responsive" alt=""/>
                                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal" data-target="#myModal"></div>
                                <div class="product-overlay">
                                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                                    <a href="#" class="compare fa fa-signal"></a>
                                    <a href="#" class="likeitem fa fa-heart-o"></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="product-title"><a href="./single-product.html">Product fashion</a></h4>
                                <span class="product-price">$99.00 <em>- Pre order</em></span>
                                <div class="item-colors">
                                    <a href="#" class="cream"></a>
                                    <a href="#" class="darkgrey"></a>
                                    <a href="#" class="brown"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <h5 class="heading2 space40"><span>Random Products</span></h5>
                <div class="product-carousel2">
                    <div class="pc-wrap">
                        <div class="product-item">
                            <div class="item-thumb">
                                <img src="assets/images/products/fashion/5.jpg" class="img-responsive" alt=""/>
                                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal" data-target="#myModal"></div>
                                <div class="product-overlay">
                                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                                    <a href="#" class="compare fa fa-signal"></a>
                                    <a href="#" class="likeitem fa fa-heart-o"></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="product-title"><a href="./single-product.html">Product fashion</a></h4>
                                <span class="product-price">$99.00 <em>- Pre order</em></span>
                                <div class="item-colors">
                                    <a href="#" class="brown"></a>
                                    <a href="#" class="white"></a>
                                    <a href="#" class="litebrown"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-wrap">
                        <div class="product-item">
                            <div class="item-thumb">
                                <img src="assets/images/products/accessories/15.jpg" class="img-responsive" alt=""/>
                                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal" data-target="#myModal"></div>
                                <div class="product-overlay">
                                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                                    <a href="#" class="compare fa fa-signal"></a>
                                    <a href="#" class="likeitem fa fa-heart-o"></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="product-title"><a href="./single-product.html">Product fashion</a></h4>
                                <span class="product-price">$99.00 <em>- Pre order</em></span>
                                <div class="item-colors">
                                    <a href="#" class="red"></a>
                                    <a href="#" class="darkgrey"></a>
                                    <a href="#" class="litebrown"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-wrap">
                        <div class="product-item">
                            <div class="item-thumb">
                                <img src="assets/images/products/fashion/8.jpg" class="img-responsive" alt=""/>
                                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal" data-target="#myModal"></div>
                                <div class="product-overlay">
                                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                                    <a href="#" class="compare fa fa-signal"></a>
                                    <a href="#" class="likeitem fa fa-heart-o"></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="product-title"><a href="./single-product.html">Product fashion</a></h4>
                                <span class="product-price">$99.00 <em>- Pre order</em></span>
                                <div class="item-colors">
                                    <a href="#" class="black"></a>
                                    <a href="#" class="darkgrey"></a>
                                    <a href="#" class="red"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-wrap">
                        <div class="product-item">
                            <div class="item-thumb">
                                <img src="assets/images/products/fashion/18.jpg" class="img-responsive" alt=""/>
                                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal" data-target="#myModal"></div>
                                <div class="product-overlay">
                                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                                    <a href="#" class="compare fa fa-signal"></a>
                                    <a href="#" class="likeitem fa fa-heart-o"></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="product-title"><a href="./single-product.html">Product fashion</a></h4>
                                <span class="product-price">$99.00 <em>- Pre order</em></span>
                                <div class="item-colors">
                                    <a href="#" class="black"></a>
                                    <a href="#" class="liteblue"></a>
                                    <a href="#" class="litebrown"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-wrap">
                        <div class="product-item">
                            <div class="item-thumb">
                                <img src="assets/images/products/fashion/10.jpg" class="img-responsive" alt=""/>
                                <div class="overlay-rmore fa fa-search quickview" data-toggle="modal" data-target="#myModal"></div>
                                <div class="product-overlay">
                                    <a href="#" class="addcart fa fa-shopping-cart"></a>
                                    <a href="#" class="compare fa fa-signal"></a>
                                    <a href="#" class="likeitem fa fa-heart-o"></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h4 class="product-title"><a href="./single-product.html">Product fashion</a></h4>
                                <span class="product-price">$99.00 <em>- Pre order</em></span>
                                <div class="item-colors">
                                    <a href="#" class="black"></a>
                                    <a href="#" class="darkgrey"></a>
                                    <a href="#" class="litebrown"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space30 clearfix"></div>