.create-product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 30%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .displayFlex{
    display: flex;
  }
