            <!-- BLOCKS WRAP -->
            <div class="block-main container">
                <div class="row">
                    <div class="col-md-4 col-sm-4" *ngFor="let cat of categories">
                        <div class="block-content">
                            <img src="assets/images/blocks/1.jpg" class="img-responsive" alt=""/>
                            <div class="bs-text-down text-center hvr-outline-out">
                                {{cat.name}}<span>Intimates Fall/Winter 2015</span>				
                            </div>
                        </div><br>
                    </div>
                    <!-- <div class="col-md-4 col-sm-4">
                        <div class="block-content">
                            <img src="assets/images/blocks/2.jpg" class="img-responsive" alt=""/>
                            <div class="bs-text-center text-center">
                                Accesories<span>Get a new look with Smile Collection</span>				
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="block-content">
                            <img src="assets/images/blocks/3.jpg" class="img-responsive" alt=""/>
                            <div class="bs-text-down text-center">
                                Womenswear<span>Smile Collection new arrivals</span>				
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="clearfix"></div>
